<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>Sleek wallet</string>
                    <key>url</key>
                    <string>https://github.com/sleekdeveloper/sleekwallet/releases/download/IOS1.0.1%2B7/sleek1.0.1.ipa?raw=true</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://github.com/sleekdeveloper/sleekwallet/blob/master/logo.jpg?raw=true</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://github.com/sleekdeveloper/sleekwallet/blob/master/logo.jpg?raw=true</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>title</key>
                <string>Sleek Wallet</string>
                <key>bundle-version</key>
                <string>1.0.1</string>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>com.app.sleekwallet</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
